html{
    scroll-behavior: smooth;
}
body, ul{
    margin: 0px;
    padding: 0px;    
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover {
    background:rgba (0, 0, 0, .05);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: #e7e7e7;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px){
    #btn-mobile {
        display: block;
       
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7; 
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border:none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        border-top:2px solid;
        width: 20px;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3px;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg)
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
.menu{
    min-height: 100vh;
    width: 100vw;
    background-image: url(pexels-pixabay-270623.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sobre > div{
    flex: 1 1 100px;
    margin: 0 80px;
}

.sobre img{
    width: auto;
}
.sobre{
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 0 100px;    
}

h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
img{
    max-width: 100%;
    display: block;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 500%;
    margin: 0 auto;
    margin-bottom: 100px;

}
.flex > div{
    flex: 1 1 300px;
    margin: 0 10px;
}


footer{
    display:center;
    max-height: 100%;
    background-color: #8a8a8a;
    padding-top: 5px;
    color: white;
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size:  1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.sociais{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.sociais li{
    margin: 0 10px;
}
.sociais a{
    text-decoration: none;
    color: white;
}
.sociais a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.sociais a:hover i{
    color: #4b4b4b ;
}
.footer-buttom{
    background: #17181d;
    max-width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-buttom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
}
.footer-buttom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 400;
}